.nav {
  padding-top: 20px;
  padding-left: 10px;
  grid-area: nav;
  background-color: rgb(2, 80, 54);

}
.item {
  color: white;
  cursor: pointer;
}
.item:hover {
  color:red;
}
.item_active {
  color: red;
}